# Ignora dependencias locales y archivos temporales
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
.next/cache
.next/static/chunks
.next/standalone
.next/trace
.next/server/app-build-manifest.json
.next/server/font-manifest.json
.next/server/middleware-manifest.json
.next/server/pages-manifest.json
.next/server/react-loadable-manifest.json
.next/server/build-manifest.json
.next/server/routes-manifest.json
.next/server/serverless-pages-manifest.json
.next/server/webpack-runtime.js
.next/server/main.js
.next/server/pages/**/*.js.map
.next/server/pages/**/*.js.LICENSE.txt
.next/server/pages/**/*.js.LICENSE
coverage
*.local
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
.git
.gitignore
Dockerfile
README.md 